# Python 3.10.19
absl-py==2.3.1
antlr4-python3-runtime==4.9.3
anytree==2.13.0
asciitree==0.3.3
asttokens==3.0.0
botocore==1.29.165
cloudpickle==3.1.1
cmeel==0.57.3
cmeel-assimp==5.4.3.1
cmeel-boost==1.83.0
cmeel-console-bridge==1.0.2.3
cmeel-octomap==1.10.0
cmeel-qhull==8.0.2.1
cmeel-tinyxml==2.6.2.3
cmeel-urdfdom==3.1.1.1
cmeel-zlib==1.3.1
coloredlogs==15.0.1
comm==0.2.3
contourpy==1.3.2
decorator==5.2.1
dex_retargeting==0.4.6
dgl==2.1.0
diffusers==0.11.1
docker-pycreds==0.4.0
egl_probe==1.0.2
eigenpy==3.5.1
einops==0.8.1
et_xmlfile==2.0.0
evdev==1.9.2
executing==2.2.1
Farama-Notifications==0.0.4
fasteners==0.20
flatbuffers==25.9.23
flatdict==4.0.1
fonttools==4.60.1
gitdb==4.0.12
GitPython==3.1.45
grpcio==1.75.1
gym==0.23.1
gym-notices==0.1.0
h5py==3.15.1
hf-xet==1.1.10
hidapi==0.14.0.post2
hpp-fcl==2.4.4
huggingface-hub==0.23.4
humanfriendly==10.0
hydra-core==1.3.2
i4h_asset_helper @ git+https://github.com/isaac-for-healthcare/i4h-asset-catalog.git@dc71d8e1b8d3232836c38bc9467654ef1ef43e8c
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.0
ipython==8.37.0
ipywidgets==8.1.5
-e git+https://github.com/isaac-sim/IsaacLab.git@21f7136325136ca3f6ca4e0a8125edffe5c24f7e#egg=isaaclab&subdirectory=source/isaaclab
-e git+https://github.com/isaac-sim/IsaacLab.git@21f7136325136ca3f6ca4e0a8125edffe5c24f7e#egg=isaaclab_assets&subdirectory=source/isaaclab_assets
-e git+https://github.com/isaac-sim/IsaacLab.git@21f7136325136ca3f6ca4e0a8125edffe5c24f7e#egg=isaaclab_mimic&subdirectory=source/isaaclab_mimic
-e git+https://github.com/isaac-sim/IsaacLab.git@21f7136325136ca3f6ca4e0a8125edffe5c24f7e#egg=isaaclab_rl&subdirectory=source/isaaclab_rl
-e git+https://github.com/isaac-sim/IsaacLab.git@21f7136325136ca3f6ca4e0a8125edffe5c24f7e#egg=isaaclab_tasks&subdirectory=source/isaaclab_tasks
isaacsim==4.5.0.0
isaacsim-app==4.5.0.0
isaacsim-asset==4.5.0.0
isaacsim-benchmark==4.5.0.0
isaacsim-code-editor==4.5.0.0
isaacsim-core==4.5.0.0
isaacsim-cortex==4.5.0.0
isaacsim-example==4.5.0.0
isaacsim-extscache-kit==4.5.0.0
isaacsim-extscache-kit-sdk==4.5.0.0
isaacsim-extscache-physics==4.5.0.0
isaacsim-gui==4.5.0.0
isaacsim-kernel==4.5.0.0
isaacsim-replicator==4.5.0.0
isaacsim-rl==4.5.0.0
isaacsim-robot==4.5.0.0
isaacsim-robot-motion==4.5.0.0
isaacsim-robot-setup==4.5.0.0
isaacsim-ros1==4.5.0.0
isaacsim-ros2==4.5.0.0
isaacsim-sensor==4.5.0.0
isaacsim-storage==4.5.0.0
isaacsim-template==4.5.0.0
isaacsim-test==4.5.0.0
isaacsim-utils==4.5.0.0
jedi==0.19.2
jupyterlab_widgets==3.0.15
loop-rate-limiters==1.2.0
lxml==6.0.2
Markdown==3.9
matplotlib-inline==0.1.7
moviepy==2.2.1
nlopt==2.7.1
numcodecs==0.13.1
numpy==1.26.4
omegaconf==2.3.0
omniverse-kit==106.5.0.162521
onnx==1.16.1
onnxruntime-gpu==1.19.0
opencv-python==4.8.1.78
openpyxl==3.1.5
orjson==3.11.5
packaging==25.0
pandas==2.3.3
parso==0.8.5
pathtools==0.1.2
pexpect==4.9.0
pin==2.7.0
pin-pink==3.1.0
prettytable==3.3.0
proglog==0.1.12
promise==2.3
prompt_toolkit==3.0.52
protobuf==3.20.3
ptyprocess==0.7.0
pure_eval==0.2.3
pygame==2.1.0
pyglet==1.5.31
Pygments==2.19.2
pynput==1.8.1
python-dotenv==1.1.1
python-xlib==0.33
pytransform3d==3.14.3
pyvers==0.1.0
qpsolvers==4.8.1
quadprog==0.1.13
regex==2025.9.18
rl_games==1.6.1
robomimic @ git+https://github.com/ARISE-Initiative/robomimic.git@0ca7ce74cf8f20be32029657ef9320db033d93e9
-e git+https://github.com/matsgarb/i4h-workflows.git@4ee996571ccea63b0354bb6760d0ee639c2c1baf#egg=robotic_surgery_assets&subdirectory=workflows/robotic_surgery/scripts/simulation/exts/robotic.surgery.assets
-e git+https://github.com/matsgarb/i4h-workflows.git@4ee996571ccea63b0354bb6760d0ee639c2c1baf#egg=robotic_surgery_tasks&subdirectory=workflows/robotic_surgery/scripts/simulation/exts/robotic.surgery.tasks
-e git+https://github.com/matsgarb/i4h-workflows.git@4ee996571ccea63b0354bb6760d0ee639c2c1baf#egg=robotic_us_ext&subdirectory=workflows/robotic_ultrasound/scripts/simulation/exts/robotic_us_ext
rsl-rl-lib==2.3.1
safetensors==0.6.2
scipy==1.10.1
setproctitle==1.3.7
shortuuid==1.0.13
skrl==1.4.3
smmap==5.0.2
-e git+https://github.com/matsgarb/i4h-workflows.git@4ee996571ccea63b0354bb6760d0ee639c2c1baf#egg=so_arm_starter_ext&subdirectory=workflows/so_arm_starter/scripts/simulation/exts/so_arm_starter_ext
stable_baselines3==2.7.0
stack-data==0.6.3
starlette==0.46.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
tensordict==0.10.0
termcolor==3.1.0
tokenizers==0.19.1
tomli==2.3.0
torchdata==0.11.0
tqdm==4.67.1
traitlets==5.14.3
transformers==4.41.2
trimesh==4.8.3
triton==3.1.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==1.26.20
wandb==0.12.21
warp-lang==1.7.2
wcwidth==0.2.14
Werkzeug==3.1.3
widgetsnbextension==4.0.14
zarr==2.18.3
zipp==3.23.0
